body{
    background: url('https://scontent.fmel16-1.fna.fbcdn.net/v/t39.30808-6/299759540_472990161504512_1063112831329530852_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=CXjh6nmAR8sAX9seOZg&_nc_ht=scontent.fmel16-1.fna&oh=00_AfAWIQPmvXGmAQVofAOFqa384XBDOD7_FRqk_SOZ4iuNKw&oe=640D4CA9') no-repeat center center fixed;
    background-size: cover;
}

*{
    text-align: center;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1 {
    padding-top: 5px;
    color: white;
}

.nav a{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav {
    padding-bottom: 10px;
}

.courseImg{
    width: 80%
}

.reviewDiv{
    border: 1px solid black;
    width: 60%;
    margin-bottom: 10px;
    padding: 5px;
}

#allRounds{
    display: none;
    width: 50%;
    min-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: white;
    border: 5px solid black;
    min-height: 200px;
}

#allRoundsTable{
    margin: 0 auto;
    padding: 20px 10px 15px 10px;
}

#allRoundsTable th{
    margin: 0 15px 0 15px;
    padding: 0px 15px 15px 15px;
}

#allRoundsTable td{
    padding: 0 5px;
}

.allRoundsRow{
    height: 20px;
}

#closeAllRounds {
    cursor: pointer;
    padding: 12px 16px;
    position: absolute;
    top: 1px;
    right: 1px;
    font-family: sans-serif;
}
  
#closeAllRounds:hover {background: #bbb;}

.statsRender{
    width: 450px;
    height: 240px;
    margin: 25px auto; 
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
}

.statsRenderContainer{
    margin: 0 auto;
    display: grid;
    width: 300px;
    grid-template-columns: 100%;
    grid-template-rows: 70px 25% 15% 15%;
    height: 235px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.90) 
}

.statsRenderh3{
    font-size: 20px;
    margin-top: 50px;
}

.statsRenderContainer .courseName{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.statsRenderContainer .scoreDiv{
    color: rgb(0, 105, 0);
    font-size: 20px;
}

.statsRenderContainer .puttsDiv{
    color: rgb(0, 105, 0);
    font-size: 20px;
}

.arrow {
    font-size: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
}

.arrow:hover {
    background-color: black;
    color: white;
}

#lastThree{
    display: none;
}

#lastFive{
    display: none;
}

#lastTen{
    display: none;
}

#golfQuote{
    display: block;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.388);
    padding: 25px;
    position: fixed;
    bottom: 0px;
    left: 5%;
    color: white;
    font-size: 18px;
}

#header{
    background-color: rgba(0, 0, 0, 0.488);
    width: 90%;
    margin: 0 auto;
}

#welcome{
    color: white;
    font-weight: 600;
    font-size: 18px;
}

#logout, #viewAll, .noAccountYet button{
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 3px 7px 3px 7px;
}

#logout:hover, #viewAll:hover, .noAccountYet button:hover, #exportButton:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}

.noAccountYet{
    margin-top: 25px;
}

input{
    text-align: left;
}

#exportButton {
    margin: 10px;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 3px 7px 3px 7px;
}

#noRounds{
    background-color: rgba(255, 255, 255, 0.90);
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

