body{
    background: url('https://scontent.fmel16-1.fna.fbcdn.net/v/t39.30808-6/299759540_472990161504512_1063112831329530852_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=c4N-MQ7erCMAX9fFBJD&_nc_ht=scontent.fmel16-1.fna&oh=00_AfCKDE5sGh_177ZLfOnPzs8WQAn_kMKBU-E3rCyOSOFXEw&oe=649FA329') no-repeat center center fixed;
    background-size: cover;
}

*{
    text-align: center;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: white;
    padding-top: 5px;
}

.nav a{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav {
    padding-bottom: 10px;
}

.courseImg{
    width: 80%
}

.courseLogoImg{
    max-width: 150px;
    max-height: 150px;
}

.reviewDiv{
    border: 1px solid black;
    width: 60%;
    margin: 0 auto 10px auto;
    padding: 5px;
}

#courseDescription{
    width: 65%;
    margin: 10px auto 25px auto;
}

#header{
    background-color: rgba(0, 0, 0, 0.488);
    width: 90%;
    margin: 0 auto;
    margin: 50px auto 15px auto;
}

#welcome{
    color: white;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    top: 0px;
    right: 20px;
}

#logout, #viewAll{
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 3px;
}

#logout:hover, #viewAll:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}

#loginForm{
    margin: 0 auto;
    padding: 20px 0 15px 0;
}

button{
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 3px 7px 3px 7px;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}

#addCourseDiv, #playRound{
    background-color: rgba(255, 255, 255, 0.90);
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

#courseRenderer{
    background-color: rgba(255, 255, 255, 0.90);
    width: 80%;
    margin: 0 auto;
}

#signUpDiv{
    background-color: rgba(255, 255, 255, 0.90);
    width: 30%;
    min-width: 220px;
    margin: 15px auto;
    text-align: left;
    padding: 15px;
}

#loginFormContainer{
    background-color: rgba(255, 255, 255, 0.90);
    width: 40%;
    min-width: 220px;
    margin: 15px auto;
    padding-bottom: 15px;
}

#requestCourseForm{
    background-color: rgba(255, 255, 255, 0.90);
    width: 75%;
    min-width: 600px;
    margin: 15px auto;
    padding-bottom: 15px;
}

#requestCourseForm h3{
    padding: 20px 0 10px 0;
}

#listOfRequests{
    background-color: rgba(255, 255, 255, 0.90);
    width: 65%;
    min-width: 450px;
    margin: 15px auto;
    padding-bottom: 15px;
}

#listOfRequests h3{
    padding-top: 20px;
}

#listOfRequests Ul {
    list-style-type: none;
    padding: 0;
}

#listOfRequests a{
    color: rgb(0, 111, 0);
}

#listOfRequests li{
    padding: 5px;
}

#signUpDiv p {
    text-align: center;
}

#addCourseDiv p{
    text-align: left;
    padding-left: 10px;
}

#addCourseDiv input{
    margin-left: 15px;
    text-align: left;
}

input{
    text-align: left;
}

#playSubmit, #courseNotListed {
    padding-top: 20px;
}

#courseNotListed {
    padding-bottom: 10px;
}

#courseRenderer h3{
    padding-top: 10px;
}

#submitReview{
    margin: 10px 0 20px 0;
}

#leaveReviewForm{
    padding-top: 10px;
    margin-bottom: 10px;
}

#courseWebpageLink{
    padding-bottom: 10px;
}

#canNotLeaveReview{
    padding: 10px 0 25px 0;
}

.noAccountYet{
    margin-top: 15px;
}

#editCourseButton {
    margin: 10px 0;
}

.reviewDiv div{
    text-align: left !important;
    padding: 5px;
}

#backToCourses{
    margin-top: 10px;
}

#removeCourseButton{
    margin-bottom: 15px;
}

#removeConfirm{
    margin-bottom: 15px;
    display: none;
}

#removeConfirm button{
    margin: 0 5px;
}

#myInfo, #myPassword{
    background-color: rgba(255, 255, 255, 0.90);
    width: 40%;
    min-width: 220px;
    margin: 15px auto;
    padding-bottom: 15px;
    padding-top: 10px;
}