{% extends "layout.html" %}

{% block title %} 
    Courses
{% endblock title %}

{% block main %} 
<form action = "/courses" method="post" id="courseform">
    <h3>Select a course:</h3>
    <select name="courses" id="courses" form="courseform">
        <option value="" disabled selected>---</option>
        {% for course in course_list %}
        <option value="{{ course[0] }}">{{ course[1] }}</option>
        {% endfor %}}
    </select>
    <button type="submit">View Course</button>
</form>

{% if session_course_id %}
<img src="{{course_info[5]}}">
<h2>{{course_info[1]}}</h2>
<h4>Par {{course_info[4]}}</h4>
<p>{{course_info[3]}}</p>
<div><a href="{{course_info[2]}}">Visit {{course_info[1]}} webpage.</a></div>
<img class="courseImg" src="{{course_info[6]}}">
<!-- <h4>Hole Layout</h4>
<div>{{course_info[8]}}</div> -->
<h4>Reviews:</h4>
    {% if reviews %}
    {% for review in reviews %}
    <div class="reviewDiv">
        <div>{{ review[2] }} - {{ review[1] }}/10</div>
        <div>{{ review[0] }}</div>
        {% if review[3] == user_id %} 
        <a href="/delete-review/{{ review[3] }}"><button>Remove</button></a>
        {% elif session.get('admin') %}
        <a href="/delete-review/{{ review[3] }}"><button>Remove</button></a>
        {% endif %}
    </div>    
    {% endfor %}
    {% else %}
    <div>No reviews yet</div>
    {% endif %}
    {% if session['username'] %}
    {% if reviewed %}
    {% else %}
    <form action="/leave-review" method="post">
        <p>
            <label>Review:</label>
            <input name="review" type="text" style="width: 40%;"></input>
        </p>
        <p>
            <label>Rating:</label>
            <input name="rating" type="number" min="0" max="10" step="1"></input>
        </p>
        <input name ="course_id" type="hidden" value="{{ selected_course_id }}">
        <input name ="user_id" type="hidden" value="{{ user_id }}">
        <button type="submit">Submit Review</button>
    </form>
    {% endif %}
    {% else %}
    <div class="canNotLeaveReview">Login or create an account to leave a review.</div>
    {% endif %}
{% endif %}

{% endblock main %}