{% extends "layout.html" %}

{% block title %} 
    Courses
{% endblock title %}

{% block welcome %} 
{% endblock welcome %} 

{% block main %} 
<form action = "/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action = "/courses" method="post" id="courseform">
    <h3>Select a course:</h3>
    <select name="courses" id="courses" form="courseform">
        <option value="" disabled selected>---</option>
        {% for course in course_list %}
        <option value="{{ course[0] }}">{{ course[1] }}</option>
        {% endfor %}}
    </select>
    <button type="submit">View Course</button>
</form>

{% if course_info %}
<img src="{{course_info[5]}}">
<h2>{{course_info[1]}}</h2>
<h4>Par {{course_info[4]}}</h4>
<p>{{course_info[3]}}</p>
<div><a href="{{course_info[2]}}">Visit {{course_info[1]}} webpage.</a></div>
<img class="courseImg" src="{{course_info[6]}}">
<h4>Hole Layout</h4>
<div>{{course_info[8]}}</div>
<h4>Reviews:</h4>
    {% if reviews %}
    {% for review in reviews %}
    <div class="reviewDiv">
        <div>{{ review[2] }} - {{ review[1] }}/10</div>
        <div>{{ review[0] }}</div>
    </div>    
    {% endfor %}
    {% else %}
    <div>No reviews yet</div>
    {% endif %}
{% endif %}

{% endblock main %}