{% extends "layout.html" %}

{% block title %} 
    Home
{% endblock title %}

{% block main %} 
{% if session.get('user_id') %}



<div>
    <h3>Last round</h3>
    <ul>
        <li>{{ stats[0][2] }}</li>
        <li>Score: 
            {% if stats[0][4] - stats[0][3] > 0 %}
                +{{ stats[0][4] - stats[0][3]}}
                {% elif stats[0][4] - stats[0][3] < 0 %}
                {{ stats[0][4] - stats[0][3]}}
                {% else %}
                Par
                {% endif %}
        </li>
        <li>Putts: {{ stats[0][5] }}</li>
    </ul>
</div>

<div>
    <h3>Last 5 rounds</h3>
    <ul>
        <li>Score: {{ ave_score_five }}</li>
        <li>Putts: {{ ave_putts_five }}</li>
    </ul>
</div>

<div>
    <h3>Last 10 rounds</h3>
    <ul>
        <li>Score: {{ ave_score_ten }}</li>
        <li>Putts: {{ ave_putts_ten }}</li>
    </ul>
</div>





<button>View All Rounds</button>
<table>
    <thead>
        <th>Date</th>
        <th>Course</th>
        <th>Strokes</th>
        <th>Score</th>
        <th>Putts</th>
    </thead>
    <tbody>
        {% for round in stats %}
            <tr>
                <td>{{ round[6] }}</td>
                <td>{{ round[2] }}</td>
                <td>{{ round[4] }}</td>
                {% if round[4] - round[3] > 0 %}
                <td>+{{ round[4] - round[3]}}</td>
                {% elif round[4] - round[3] < 0 %}
                <td>{{ round[4] - round[3]}}</td>
                {% else %}
                <td>Par</td>
                {% endif %}
                <td>{{ round[5] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}
{% endblock main %}