<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golf Buddy - Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Golf Buddy</h1>
    <nav>
        <div class="nav">
            <a href="/">Home</a>
        </div>
    </nav>
    <main>
        <form action="/login" method="POST">
            <label for="username">Enter Username:</label>
            <input name="username" type="text"></input>
            <input type="password" name="password"></input>
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>