{% extends "layout.html" %}

{% block title %} 
    Add Course
{% endblock title %}

{% block main %} 
<div>
    <h3>Let us know which course you'd like to see in our database</h3>
    <form action = "/request" method="post">
        <p>
            <label>Course Name:</label>
            <input name="course_name" type="text"></input>
        </p>
        <p>
            <label>Course webpage URL:</label>
            <input name="course_link" type="text"></input>
        </p>
        <button type="submit">Submit Request</button>
    </form>
</div>
{% endblock main %}