{% extends "layout.html" %}

{% block title %} 
    Create Account
{% endblock title %}

{% block main %} 
    {% if username_error %}
    <div>That username is taken. Try another.</div>
    {% endif %}
    {% if password_error %}
    <div>Passwords were not a match. Try again.</div>
    {% endif %}
    <form action="/new_user" method="post">
        <p>
            <label>Name:</label>
            <input name="name" type="text" required></input>
        </p>
        <p>
            <label>Username:</label>
            <input name="username" type="text" required></input>
        </p>
        <p>
            <label>Password:</label>
            <input name="password" type="password" required></input>
        </p>
        <p>
            <label>Confirm Password:</label>
            <input name="password_confirm" type="password" required></input>
        </p>

        <button type="submit">Create Account</button>
    </form>
{% endblock main %}